.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.Modal {
  position: relative;
  max-width: calc(100% - 50px);
  max-height: calc(100% - 50px);
  overflow-y: auto;
}

.CloseBtn {
  background-color: rgba(0, 0, 0, 0);
  filter: drop-shadow(0 0 1em White);
  border: none;
  position: absolute;
  right: 15px;
  top: 15px;
}

.CloseBtn:hover,
.CloseBtn:focus {
  color: rgb(251, 129, 129);
}

.CloseBtn:active {
  color: red;
}